*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: antiquewhite;
    font-family: 'Keiner-regular';
    /* overflow-x: hidden; */
}

.info{
    font-size: 1.5em;
}


nav{
    width: 100vw;
    height: auto;
}

nav ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    padding: 2% 5%;
    list-style: none;
}

.cover{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover h1{
    font-family: 'Keiner-bold';
    font-size: 20em;
    align-self: center;
}

.about{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    
}

.weight-styles{
    width: 95vw;
    height: auto;
    padding-left: 5%;
}

.weight-styles .thin{
    font-family: 'Keiner-thin';
    font-size: 3em;
}

.weight-styles .extra-light{
    font-family: 'Keiner-extraLight';
    font-size: 4em;
}

.weight-styles .light{
    font-family: 'Keiner-light';
    font-size: 5em;
}

.weight-styles .regular{
    font-family: 'Keiner-regular';
    font-size: 6em;
}

.weight-styles .medium{
    font-family: 'Keiner-medium';
    font-size: 7em;
}

.weight-styles .semi-bold{
    font-family: 'Keiner-semiBold';
    font-size: 8em;
}

.weight-styles .bold{
    font-family: 'Keiner-bold';
    font-size: 9em;
}

.weight-styles .style-display {
    transition: font-size 1s ease-in-out;
}

.weight-styles .thin:hover {
    font-size: 9em; /* Size of .bold */
}

.weight-styles .extra-light:hover {
    font-size: 8em; /* Size of .semi-bold */
}

.weight-styles .light:hover {
    font-size: 7em; /* Size of .medium */
}

.weight-styles .medium:hover {
    font-size: 5em; /* Size of .light */
}

.weight-styles .semi-bold:hover {
    font-size: 4em; /* Size of .exra-light */
}

.weight-styles .bold:hover {
    font-size: 3em; /* Size of .thin */
}

.language-glyphs{
    height: 100vh;
    margin: 5%;
}

.language-glyphs h1{
    font-family: 'Keiner-semiBold';
    font-size: 2em;
}

.language-tags{
    margin: 2% 0 1% 0;
}

button{
    margin: 0.1%;
    border: none;
    font-family: 'Keiner-light';
}
button:hover, button:focus{
    background-color: blue;

}

.nonsense-box{
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;

}

.gen-sentence{
    background-color: blue;
    color: antiquewhite;
    font-size: 2em;
}

.glyphs-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.glyph-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid greenyellow;
    width: 25vw;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.glyph-container {
    display: flex;
    flex-direction: row;
    width: 70vw;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.glyph {
    display: inline-block;
    font-family: 'Keiner-regular';
    font-size: 3em;
    text-align: center;
    border: 1px solid #ddd;
    width: 5vw;
}

.glyph:hover {
    background-color: blue;
    border: 1px solid blue;
    color: antiquewhite;
}

.glyph-selected-box {
    display: none;
    margin-top: 20px;
    border: 1px solid #000;
    padding: 10px;
}

.radio-inputs {
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    background-color: #eee;
    box-sizing: border-box;
    padding: 0.25rem;
    width: 100%;
    font-size: 14px;
}

.radio {
    flex: 1 1 auto;
    text-align: center;
    margin: 5px;
}

.radio input {
    display: none;
}

.radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    padding: 0.5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all 0.15s ease-in-out;
    width: 100%;
}

.radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
}
