*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: antiquewhite;
    font-family: 'Keiner-regular';
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

.about .info span{
    font-size: 2em;
    line-height: 2em;
    opacity: 0.1; /* Start with low opacity */
    transform: translateX(-20px); /* Start with a slight offset to the left */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.about .info.in-view {
    opacity: 1; /* Fade to full opacity */
    transform: translateX(0); /* Move to the original position */
}

footer .info{
    font-size: 1.5em;
}


nav{
    width: 100vw;
    height: auto;
}

nav ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    padding: 2% 5%;
    list-style: none;
}

a{
    background-color: blue;
    border: 3px solid black;
    border-radius: 50%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Keiner-semiBold';

}

a:hover{
    background-color: blue;
    border: 3px solid blue;
    border-radius: 50%;
}

p a{
    text-transform: capitalize;
    font-size: 1em;
    border: none;
    background-color: transparent;
}
p a:hover{
    color: blue;
    background-color: transparent;
    border: transparent;
}

#cover {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-keiner {
    display: flex;
    flex-direction: row;
}

.recog-style {
    margin-right: 10px;
    font-family: 'Keiner-extraLight';
}


#cover h1{
    font-family: 'Keiner-bold';
    font-size: 20em;
    align-self: center;
}

.about{
    width: 90vw;
    height: auto;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.weight-styles{
    width: 95vw;
    height: 100vh;
    padding-left: 5%;
    margin: 10% 0;

}

.display-row{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.display-row .px-size{
    font-family: 'Keiner-Thin';
    width: 2.5vw;
    margin-right: 1.5vw;
}

.display-row:hover .px-size {
    background-color: blue;
    border-radius: 50%;
}

.weight-styles .thin{
    font-family: 'Keiner-thin';
    font-size: 2em;
}

.weight-styles .extra-light{
    font-family: 'Keiner-extraLight';
    font-size: 3em;
}

.weight-styles .light{
    font-family: 'Keiner-light';
    font-size: 4em;
}

.weight-styles .regular{
    font-family: 'Keiner-regular';
    font-size: 5em;
}

.weight-styles .medium{
    font-family: 'Keiner-medium';
    font-size: 6em;
}

.weight-styles .semi-bold{
    font-family: 'Keiner-semiBold';
    font-size: 7em;
}

.weight-styles .bold{
    font-family: 'Keiner-bold';
    font-size: 8em;
}

.weight-styles .style-display {
    transition: font-size 1s ease-in-out;
}

.weight-styles .thin:hover {
    font-size: 8em; /* Size of .bold */
}

.weight-styles .extra-light:hover {
    font-size: 7em; /* Size of .semi-bold */
}

.weight-styles .light:hover {
    font-size: 6em; /* Size of .medium */
}

.weight-styles .medium:hover {
    font-size: 4em; /* Size of .light */
}

.weight-styles .semi-bold:hover {
    font-size: 3em; /* Size of .exra-light */
}

.weight-styles .bold:hover {
    font-size: 2em; /* Size of .thin */
}


.language-glyphs{
    height: auto;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.language-info{
    margin: 10% 0;
    display: flex;
    align-items: stretch;
}
.interaction{
    display: flex;
    flex-direction: row;
}

.language-tags{
    width: 35vw;
    height: 60vh;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border-radius: 15px 0 0 15px; */
    /* border: 3px solid #dbcebd; */
    /* background-color:#dbcebd; */
}

button{
    margin: 0.1%;
    border: none;
    font-family: 'Keiner-light';
    width: auto;
}
button:hover, button:focus{
    background-color: blue;
    border-radius: 7px;
    border: transparent;
}

.language-tag{
    padding: 0.5%;
    margin-right: 5%;
    text-align: left;
    /* border: 3px solid #dbcebd;
    background-color:#dbcebd;
    color: blue; */
}


.nonsense-box{
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
    background-color: blue;
    border-radius: 15px;
    /* border: 3px solid antiquewhite; */

}

.gen-sentence{
    background-color: blue;
    color: antiquewhite;
    font-size: 3em;
    text-align: center;
    padding: 5%;
}

.glyphs-section {
    margin: 10% 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.glyph-menu {
    display: flex;
    flex-direction: column;
    width: 25vw;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.window{
    width: 25vw;
    height: 50vh;
    padding-bottom: 5%;
    /* margin: 5vh 0; */
    /* background-color: rgba(0, 0, 255, 0.1); */
    background-color: antiquewhite;
    color: black;
    border-radius: 15px;
    position: sticky;
    top: 20px;
    font-size: 20em;
    text-align: center;
}

.weight-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3em;
    color: antiquewhite;
    border-radius: 2px;
}

.wb{
    width: 200px;
    padding: 0.5em 1em;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px 5px 0 0;
    margin: 0 1em 0 0;
}

.wb:focus, .wb:hover{
    background-color: antiquewhite;
    color: black;
    border: 2px solid antiquewhite;
    border-radius: 5px 5px 0 0;
    margin: 0 1em 0 0;
}


.glyph-container {
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    width: 65vw;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.all-glyphs{
    display: flex;
    background-color: antiquewhite;
    border: 1px solid #faebd7;
    width: 64vw;
    flex-wrap: wrap;
    justify-content: space-between;
}

.glyph {
    display: inline-block;
    font-family: 'Keiner-regular';
    font-size: 3em;
    text-align: center;
    border: 1px solid #ddd;
    width: 1em;
    padding: 0.1em 0.25em;
}

.glyph:hover {
    background-color: blue;
    color: antiquewhite;
}

.glyph-selected-box {
    display: none;
    padding: 10%;
}


/* #try styles */
#try, .try-styles {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#try {
    overflow: auto;
    margin-bottom: 20vh;
    margin: 10% 5%;
}

.try-styles {
    margin-bottom: 5%;
}

.label-bar, .label-visible, .edit-input{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: blue;
    text-transform: uppercase;
}

.edit-sliders{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.edit-sliders label{
    margin-right: 5%;
}

.label-bar{
    margin: 0 0 10px 10px;
  }

.edit-input {
    display: none; /* Hide the sliders initially */
    flex: 1;
    justify-content: space-around;
    font-size: 12px;
}

.label-visible {
    width: 30%;
    display: flex;
    flex-direction: row;
    font-family: 'Keiner-light';
}

.label-visible p {
    margin-right: 3%;
    text-transform: uppercase;
    font-size: 12px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    background: antiquewhite;
    outline: none;
    opacity: 0.99;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    background: black;
    border: 2px solid antiquewhite;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover{
    background: antiquewhite;
}
.try-styles:hover .edit-input {
    display: flex; /* Show the sliders when hovering over .try-styles */
}

.text-input, .body-style {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    white-space: pre-wrap; /* Ensures text breaks to new lines */
    outline: none;
}

.text-input:hover{
    cursor: text;
}

.heading-style {
    font-family: 'Keiner-bold';
    font-size: 64px;
}

.subheading-style {
    font-family: 'Keiner-semiBold';
    font-size: 32px;
}

.body-style {
    font-family: 'Keiner-regular';
    font-size: 16px;
    column-count: 3;
    column-gap: 20px;
}

/* footer styles  */
footer, .files{
    display: flex;
    flex-direction: column;
    margin: 5vh 2em 2em 2em;
}

.footer-info, .footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vh 5vw 0 5vw;
    align-items: baseline;

}

.hanken-des-info, .keiner-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.hanken-des-info{
    width: 35vw;
    margin-right: 5%;
    font-size: 0.70em;
}

.filetypes{
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
}

.filetypes em{
    margin-right: 1em;
}

.hanken-des-info .link-btn{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    justify-content: space-between;

}

.soMe{
    display: flex;
    flex-direction: row;

}

.soMe div{
    width: 20%;
    margin-right: 1em;
}


 .soMe div a{
    margin-right: 2em;
    height: auto;
    width: auto;
    background-color: transparent;
    border: transparent;

 }

 .soMe div a:hover{
    margin-right: 2em;
    background-color: transparent;
    border: transparent;
 }



 #download-btn{
    font-family: 'Keiner-semiBold';
    font-size: 10.5em;
    text-align: center;
 }

 .credits{
    width: auto;
    padding: 0 0 2% 7%;
    color: antiquewhite;
    /* font-family: 'Keiner-Light'; */
    font-size: small;
    text-transform: uppercase;
 }